<!DOCTYPE html>
<html ng-app="bloggitApp">
<head>
  <title>Bloggit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-cloak>
<div class="container-main">
    <% if notice %>
    <p class="notice"><%= notice %></p>  
    <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
