<% provide(:title, 'Articles') %>
<div class="page-header">
    <h1 id="type">Articles</h1>
</div>
<div class="row">
    <% @articles.each do |article| %>
        <div class="col-lg-12 section">
            <div class="bs-component">
                <h2 class="col-lg-9 nopad"><%= article.title %></h2>
                <div class="clearfix"></div>
                    <%= markdown(article.body).html_safe %>
                <br />
                <%= link_to 'Show', article %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Edit', edit_article_path(article) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Delete', article, method: :delete, data: { confirm: "Are you sure you want to delete \"#{article.title}?\"" } %>
            </div>
        </div>
    <% end %><br />

<%= button_to 'New Article', new_article_path, class: 'btn btn-primary', method: :get %>
<center><%= will_paginate @articles %></center>
</div>



